# Default owners for critical paths. Reviews are requested on matching PRs.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @hironate @arpit-advant

/.github/       @hironate @arpit-advant
/.env.example   @hironate @arpit-advant
/SECURITY.md    @hironate @arpit-advant
/deploy.sh      @hironate @arpit-advant
/release.mjs    @hironate @arpit-advant
